*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif, poppins;
    scroll-behavior: smooth;
}
body{
    background-color: #111827;
    --color1: #fff;
    --color2: #181818;
}
header{
    position: fixed;
    height: 10vh;
    width: 100%;
    background: #111827;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    padding-right: 20px;
    align-items: center;
    box-shadow: 0 4px 12px 0 rgba(114, 96, 214, 0.2);
    z-index: 100;
}
/* header span{
    color: rgb(185, 247, 233);
} */
header h1{
    color: #3b82f6;
    font-weight: 500;
    cursor: not-allowed;
    z-index: 100;
    
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: none;
    gap: 20px;
    padding: 12px 20px;

}
/* nav ul li a{
    color: white;
    text-decoration: none;
    transition: all .3s ease;
} */
nav ul li a:hover{
    color: #3b82f6;
}
.menu{
    display: flex;
    gap: 20px;
}
.menu li{
    left: 30px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px ;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after{
    width: 100%;
}
.open-menu, .close-menu{
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check{
    display: none;
}


.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 0 20px;
}
.hero h1{
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.hero h1 span{
    color: #3b82f6;
}
.hero p{
    max-width: 410px;
    text-align: center;
    color: white;
    line-height: 1.5;
    font-weight: 100;
    margin-bottom: 2rem;
    font-weight: bold;
}
.btn{
    display: flex;
    gap: 20px;
}
.btn button{
    padding: 4px 12px;
    border: 1px solid #3b82f6;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
}
button a{
    text-decoration: none;
    color: inherit;
}
button:nth-child(1){
    background-color: transparent;
    color: #3b82f6;
}
button:nth-child(1):hover{
    background: #3b82f6;
    color: white;
    box-shadow: 0 12px 22px 0 rgba(108, 133, 204, 0.1);
}
.gIt{
    border: 5px solid white;
    background: #3b82f6;
}
.gIt:hover{
    opacity: .6;
    box-shadow: 0 12px 22px 0 rgba(108, 133, 204, 0.1);
}
.about{
    display: flex;
    width: 100%;
    padding: 1rem;
    gap: 20px;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.about-content{
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-content .line{
    margin-bottom: 2rem;
}

.about-content h1{
    color: #3b82f6;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 26px;

}
.about-content p{
    line-height: 1.6;
    color: white;
    max-width: 300px;
    margin-bottom: 1rem;
}
.about .item{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
    
}
.item h4{
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 4px 8px;
    text-align: center;
    height: fit-content;
    color: white;
    font-weight: 100;
    opacity: .6;
}
.img img{
    width: 200px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 rgba(18, 91, 201, 0.5);
    border: none;
    backdrop-filter: blur(10px);
}
.project{
    position: relative;
    width: 100%;
    padding: 0 20px;
}
.project-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.line{
    width: 80px;
    margin-top: -10px;
    height: 3px;
}
.line hr{
    height: 3px;
    background-color: white;
    border: none;
}
.project-content h3{
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.project-item{
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
}
.project-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px 0 rgba(18, 91, 201, 0.2);
    text-align: center;
    transition: .3s ease;
}
.project-card:hover{
    transform: translateY(-10px);
}
.project-card h1{
    color: #3b82f6;
    font-weight: 500;
    padding: 5px;

}
.project-card p{
    color: white;
    opacity: .8;
    line-height: 1.6;
    padding: 0 20px;
}
.project-content h4{
    color: white;
    font-weight: 100;
    opacity: .6;
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 5rem;
}
.project-content h4:hover{
    opacity: .8;
}
.contact{
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 5rem;
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-content h1{
    color: #3b82f6;
    font-weight: bold;
    margin-bottom: 1rem;
}
.contact-content .line{
    margin-bottom: 2rem;
}
.contact-form{
    position: relative;
    width: 350px;
    height: 400px;
    padding: 20px;
    box-shadow: 0 4px 12px 0 rgba(46, 33, 92, 0.5);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
.form-head p{
    text-align: center;
    color: white;
    font-style: italic;
    margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    
}
form label{
    color: white;
}
form input{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}
.placeholder{
    font-size: 30px;
}
form textarea{
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.2);
    resize: none;
    width: 300px;
    height: 80px;
}
footer{
    text-align: center;
    padding: 10px;
    color: white;
    line-height: 1.6;
    opacity: .6;
    margin-bottom: 1rem;
}
footer p{
    font-size: 12px;
}
@media (max-width: 610px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        background-color: var(--color2);
        right: -100%;
        z-index: 90;
        transition: all .2s ease-in-out;
    }
    .menu li{
        margin-top: 40px;

    }
    .menu li a{
        padding: 10px;
    }
    .open-menu, .close-menu{
        display: block;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}
@media (min-width:610px){
    .menu{
        background-color: none;
    }
    nav ul li .home{
    visibility: visible;
}
    .hero h1{
        font-size: 39px;
    }
    .hero p{
        max-width: 750px;
        font-size: 22px;
    }
    .btn button{
        padding: 6px 26px;
        font-size: 14px;
    }
    .about-content{
        max-width: 750px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-content p{
        font-size: 22px;
        margin-top: 2rem;
        max-width: 500px;
    }
    .project-item{
        grid-template-columns: repeat(1, 600px);
        padding: 20px;
    }
    .project-card{
        flex-direction: row;
        padding: 20px;
    }
    .contact-form{
        width: 450px;
        height: 500px;
    }
    .form-head p{
        font-size: 18px;
    }
    form{
        gap: 20px;
    }
    form input {
        width: 350px;
        height: 40px;
    }
    form textarea{
        width: 350px;
        height: 80px;
    }
}
@media (min-width:1024px){
    
    nav ul li .home{
        visibility: visible;
    }
    .hero p{
        max-width: 900px;
        line-height: 1.7;
    }
    .btn button{
        padding: 6px 22px;
        font-size: 18px;
    }
    .about{
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
    .about-content{
        width: 50%;
        max-width: 1000px;
        text-align: center;
        margin-left: 2rem;
    }
    .about-content h1{
        font-size: 33px;
    }
    .about-content p{
        max-width: 600px;
    }
    .img{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img img{
        width: 300px;
        height: 300px;
    }
    .about .item{
        grid-template-columns: repeat(3, 200px);
    }
    .project-item{
        grid-template-columns: repeat(3, 300px);
    }
    .project-card{
        flex-direction: column;
    }
    .contact-form{
        width: 550px;
        height: 500px;
    }
    .form-head p{
        font-size: 20px;
    }
    form{
        gap: 20px;
    }
    form input {
        width: 450px;
        height: 40px;
    }
    form textarea{
        width: 450px;
        height: 80px;
    }

}
